.admin-container {
    text-align: center;
    margin: 20px;
  }
  
  .icon-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
  }
  
  .icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .icon-item h3 {
    margin-bottom: 10px;
  }
  
  .icon-image {
    width: 80px; /* Ajusta el tamaño de las imágenes según sea necesario */
    height: 80px;
    margin-bottom: 10px;
  }
  
  .icon-item a {
    color: blue;
    text-decoration: underline;
    font-size: 0.9em;
  }

  .table-container {
    display: flex;
    justify-content: center;  /* Centra la tabla horizontalmente */
    width: 100%;
    overflow-x: auto;  /* Asegura que la tabla sea desplazable si es más ancha que la pantalla */
  }
  