/* Me cambia el tamaño de los div
div {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}*/

/* Estilo específico para ciertos componentes */
.contenedor-formulario {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
}

.centered-text {
  font-size: 16px;
  color: #666;
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input, select {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

p {
    /*color: #28a745;*/
    font-weight: bold;
    color: #666;
  }
  
  form textarea {
    width: 100%;          /* Hace que el campo ocupe todo el ancho disponible */
    height: 150px;        /* Aumenta la altura del campo */
    padding: 10px;        /* Espaciado interno */
    border-radius: 5px;   /* Bordes redondeados */
    border: 1px solid #ccc; /* Borde gris claro */
    font-size: 14px;      /* Tamaño de fuente */
    resize: vertical;     /* Permite al usuario redimensionar verticalmente */
}

.password-container {
  display: flex;
  align-items: center;
}

.password-container button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.password-container button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  max-width: 100%; /* Asegura que no sean más anchas que su contenedor */
  word-wrap: break-word; /* Permite que el texto se divida en varias líneas si es muy largo */
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 5px;
  border-radius: 4px;
  position: absolute;
  margin-top: 5px;
  width: 100%;
  font-weight: bold;
}